body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: white;
  font-size: 24px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button {
  height: 3rem;
  width: 10rem;
  margin-top: 10px;
  color: white;
  background: royalblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input {
  height: 2rem;
  width: 15rem;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
}
